@charset "UTF-8";

/* Paleta de cores: 
    dark magenta: #590d5a
    jet: #2a2b2a    
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #590d5a;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);

    transition: width .5s, heigth .5s;
    transition-timing-function: ease;
}

form {
    padding: 8px;
}

section#login > div#imagem {
    background: #590d5a url(../imagens/login.jpg)  no-repeat;
    background-size: cover;
    height: 200px;
    background-position: top center;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo {
    background-color: #590d5a;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #9a8c98;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #641d57;
    color: white;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #9a8c9833;
    color: rgb(0, 0, 0);
    border: 1px solid #590d5a ;
    text-decoration: none;
}

form > a.botao:hover {
    color: rgb(255, 255, 255);
    background-color: #641d57;
}

form > a.botao > span {
    font-size: 0.8em;
}